{{template "headerresources"}}

    <body class=" conbase">

        <div class="box grid-item grid-block w-1-1">


            <div class="w-1-3 grid-item btn">
                <a href="/me">
                    <div class=" vh-s w-1-1 PR1">
                        ME
                    </div>
                </a>
            </div>
          <div class="w-1-3 grid-item btn">
                <a href="/server">
                    <div class=" vh-s w-1-1 PR1">
                        Server
                    </div>
                </a>
            </div>
        </div>

        <div class="grid pform ">
            <div class="w-1-3 grid-item ">
                <div class="box vh-s w-1-1 PR1">
                    Color 1
                </div>
            </div>
            <div class="w-1-3 grid-item">
                <div class="box vh-s w-1-1 PR2">
                    Color 2
                </div>
            </div>
            <div class="w-1-3 grid-item">
                <div class=" box  vh-s w-1-1 PR3">
                    Color 3
                </div>
            </div>
            <div class="grid-item w-3-4 grpcinfo none">
                <div class="box w-1-1 sh-grpc">
                    <div class="td-n  ">
                        <div class="w-1-1 td-n ">
                            <div class="grid-block w-1-3 menu-ul">GRPC</div>
                        </div>
                        <ol class="grid-block w-1-3">Creating API's</ol>

                        <ol class="btn"><a href="https://grpc.io/">GRPC</a></ol>
                        <ol class="btn"><a href="https://gitlab.com/zendrulat123/grpc">Git</a></ol>

                        <div class="fl-l ta-j">
                            I am still learning GRPC for creating API's. It auto generates API's across languages for microservices.
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-item w-3-4 linuxinfo none">
                <div class="box w-1-1 sh-linux">
                    <div class="td-n  ">
                        <div class="w-1-1 td-n ">
                            <div class="grid-block w-1-3 menu-ul">Linux</div>
                        </div>
                        <ol class="grid-block w-1-1">Favorite Distro is KDENEON</ol>
                        <ol class="grid-block w-1-1 menu-ul">Favorite Apps</ol>
                        <ol class="btn "><a href="https://github.com/PromyLOPh/pianobar">Pianobar</a></ol>
                        <ol class="btn"><a href="http://acme.cat-v.org/">Acme</a></ol>
                        <ol class="btn "><a href="http://guake-project.org/">Guake</a></ol>
                        <div class="fl-l ta-j">
                            I have been using linux for over 5 years and I believe it is one of the most customizable systems.
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-item w-3-4 jsinfo none">
                <div class="box w-1-1 sh-js">
                    <div class="td-n  ">
                        <div class="w-1-1 td-n ">
                            <div class="grid-block w-1-3 menu-ul">JS</div>
                        </div>
                        <ol class="btn"><a href="https://gitlab.com/zendrulat123/interfacesjs">MyGit</a></ol>
                        <ol class="btn"><a href="https://docs.google.com/document/d/1Zb9GCWPKeEJ4Dyn2TkT-O3wJ8AFc-IMxZzTugNCjr-8/edit">Notes</a></ol>
                        <div class="fl-l  ta-j">
                            Front-end is my greatest strength. I do front-end for a living creating templates for a showcase. I customize templates for client meetings/shows.

                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-item w-3-4 goinfo">
                <div class="box w-1-1 sh-l">
                    <div class="td-n ">
                        <div class="w-1-1 td-n ">
                            <div class="grid-block w-1-3 menu-ul">Go</div>
                        </div>
                        <ol class="btn"><a href="https://gitlab.com/zendrulat123/bill">MyGit</a></ol>
                        <ol class="btn"><a href="https://medium.com/jexia/master-the-world-of-golang-issue-9-2bdfec563c2e">Article</a></ol>
                        <ol class="btn"><a href="https://docs.google.com/document/d/1Zb9GCWPKeEJ4Dyn2TkT-O3wJ8AFc-IMxZzTugNCjr-8/edit">Notes</a></ol>
                        <div class="fl-l  ta-j">I have been writing go for over 2 years. I am addicted to the language and I love everything about it.
                        </div>

                    </div>

                </div>
            </div>

            <div class="grid-item w-3-4 packinfo none">
                <div class="box w-1-1 sh-l">
                    <div class="td-n ">
                        <div class="w-1-1 td-n ">
                            <div class="grid-block w-1-3 menu-ul">Packaging</div>
                        </div>

                        <div class="fl-l  ta-j menu  ">
                            <a href="https://acss.io/quick-start.html">
                             - CSS Atomic Approach
                         </a><br>
                            <a href="https://www.smashingmagazine.com/2011/12/an-introduction-to-object-oriented-css-oocss/">
                             - OOP CSS Approach
                         </a><br>
                            <a href="https://medium.com/@snippet22/implementing-the-reader-type-30fa200bef8f">
                             - Go's type approach
                         </a><br>
                            <a href="http://jsfiddle.net/tsp2dxz3/13/">
                             - JS interfaces/cloning methods
                         </a><br>
                        </div>

                    </div>

                </div>
            </div>
            <div class="grid-item w-1-4 sh-r">

                <div class=" sh-r w-1-1 ">
                    <div class="chbox go w-1-1">Go</div>
                    <div class=" chbox js w-1-1">JS</div>
                    <div class="linux chbox w-1-1">Linux</div>
                    <div class="grpc chbox w-1-1">GRPC</div>
                    <div class="pack chbox w-1-1">Package</div>
                </div>

            </div>

        </div>


        <div class="grid-item w-1-4 box">


            <div class=" w-1-1 goal box-s fl-l ">
                <div class="w-1-1 ">Goals</div>
            </div>
            <div class=" w-1-1 fav box-s fl-l ">
                <div class="w-1-1 ">Favorite</div>
            </div>
        </div>

        <div class="grid-item stbox box ">
            <div class="w-1-1 bl vw-s ">Look for inspiration from others</div>
            <div class="w-1-1 bl vw-s pmenu "><a href="https://www.howdesign.com/featured/window-shopping-international-web-design/">Art websites</a></div>
            <div class="w-1-1 bl vw-s pmenu"><a href="https://github.com/radovskyb/watcher">Creating File Watcher</a></div>
            <div class="w-1-1 bl vw-s pmenu"><a href="https://www.w3schools.com/cssref/">New features of CSS</a></div>
        </div>
        <div class="grid-item gbox box">
            <div class="w-1-1 bl vw-s ">Abstracting building blocks</div>
            <div class="w-1-1 bl vw-s ">Reusable code</div>
            <div class="w-1-1 bl vw-s ">Solve problems with less thinking</div>

        </div>
        <div class="grid-item fbox box ">
            <div class="w-1-1 bl vw-s ">Go is a wonderful language</div>
            <div class="w-1-1 bl vw-s pmenu "><iframe class="w-1-1" width="560" height="315" src="https://www.youtube.com/embed/cQ7STILAS0M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </div>

        
        
  {{template "footer"}}
