{{template "header"}}


<div class="container">
  <div class="box-con ta">
    A simple example of a Go Server

    <div class="box-fl hsl box-pop br-s  ta">
      <i class="fa fa-bookmark fa-3x"></i>
      <br/>Resources
      <p class="hcontent links"><a href="/resources">Resources <br/><i class="fab fa-sourcetree fa-3x"></i></i></a>
        <br/><a href="/server">server <br/><i class="fas fa-server fa-3x"></i></a>
        <br/>
        <a href="www.littlewebhut.com/">Adjectives<br/><i class="fa fa-heart fa-3x"></i></a>
      </p>
    </div>
    <div class="box-fr hsl box-pop br-s ta">
      <i class="fa fa-bookmark fa-3x"></i>
      <br/>types of Nouns
      <p class="hcontent links"><a href="">plural noun(s)<i class="fa fa-users fa-3x"></i></a>

      </p>
    </div>
  </div>
	


	
	<!-- text -->
          <div class="w-1-1 ta grid">
            <center>
              <p>Templating - "html/template" package</p>
              
            </center>
          </div>
	
		<!-- block -->
          <div class="ta grid container" >
        <center>
          <div class="box-base box-con wsl br-l  box-me">
            <center class="box-m">Server</center>
            <div class="rwcontent">
              <div class="entry-content">
                <pre>

<div class="b">
var tpl *template.Template
</div>

var err error
<div class="b">
func init() {
	tpl = template.Must(template.ParseGlob("templates/*"))
}
</div>
func main() {
  //route
  http.HandleFunc("/me", me)
	log.Fatal(http.ListenAndServe(":3000", nil))
}
    //handler       
func me(w http.ResponseWriter, r *http.Request) {
	allowedHeaders := "Accept, Content-Type, Content-Length, Accept-Encoding, Authorization,X-CSRF-Token"
	w.Header().Set("Access-Control-Allow-Origin", "https://yourdomain.com/me")
	w.Header().Set("Access-Control-Allow-Methods", "POST, GET, OPTIONS, PUT, DELETE")
	w.Header().Set("Access-Control-Allow-Headers", allowedHeaders)
	w.Header().Set("Access-Control-Expose-Headers", "Authorization")
	w.WriteHeader(http.StatusOK)

  w.Header().Set("Content-Type", "text/html")
	switch r.Method {
	case http.MethodGet:
	<div class="b">
		err := tpl.ExecuteTemplate(w, "me.html", nil)
		if err != nil {
			http.Error(w, err.Error(), http.StatusInternalServerError)
		}
		</div>
		return
	}
}
                </pre>
              </div>  
            </div>
          </div>
					
        </center>
      </div>

					<!-- Adding context -->			 
							 <div class="w-1-1 ta grid">
            <center>
              <p>Context</p>
            <i class="fas fa-apple-crate"></i>
            </center>
          </div>
          <div class="w-1-1 ta grid">
            <center>
              <p>Context can be utilized as a middleware</p><br/>
						</center>
	</div>
               
      <div class="grid">
				

								 <!-- first left part context server --> 
								 <div class="w-1-3-0 grid-item">
        <center>
          <div class="box-base box-con wsl-g3 br-l  box-me-g3">
            <center class="box-m">Context Server</center>
            <div class="rwcontent">
              <div class="entry-content-g3">
                <pre>

    mux := http.NewServeMux()
	  cc := context.Background()
		//handlers
    mux.HandleFunc("/me", me)
		mux.HandleFunc("/server", server)

	  //context handlers
		contextedMux := AddContext(cc, mux)
		log.Fatal(http.ListenAndServe(":3000", contextedMux))
                </pre>
              </div>  
            </div>
          </div>
        </center>
      </div>	 
								 
								 
								  <!-- Second Midel part context server --> 
								 <div class="w-1-3-0 grid-item">
        <center>
          <div class="box-base box-con wsl-g3 br-l  box-me-g3">
            <center class="box-m">Context Function</center>
            <div class="rwcontent">
              <div class="entry-content-g3">
                <pre>

  //function that actually gets the data
func AddContext(ctx context.Context, next http.Handler) http.Handler {
	//wrapped
	return http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
		if err != nil {
			log.Fatal(err)
		}
    log.Println(r.Method, "-", r.RequestURI)
		
		bodyBuffer, err := ioutil.ReadAll(r.Body)
		if err != nil {
			// Error occurred while parsing request body
			w.WriteHeader(http.StatusBadRequest)
			return
		}

		//#Time
		start := time.Now()
		duration := time.Now().Sub(start)
			
			}
		
                </pre>
              </div>  
            </div>
          </div>
        </center>
      </div>	 
    
  <!-- third Midel part context server --> 
								 <div class="w-1-3-0  grid-item">
        <center>
          <div class="box-base box-con wsl-g3 br-l  box-me-g3">
            <center class="box-m">Request End Points</center>
            <div class="rwcontent">
              <div class="entry-content-g3">
                <pre>

		fmt.Printf("Host:%s - Addr:%s - Method:%v - URL:%s - PROTO:%s - Status:%s - Dur:%02d-00:00 - CookieName:%s - FormValue:%s - BodySize:%d - RequestBody:%d - DBConn:%d \r\n",
				Cyan(r.Host),                          //url
				Magenta(r.RemoteAddr),                 //ip
				Brown(r.Method),                       //method request
				Red(r.RequestURI),                     //second url segment
				Green(r.Proto),                        //protocal
				Red(r.Header.Get("X-Forwarded-Port")), //status code
				Red(duration),                   //duration of request
				Magenta(r.Form),                 //form data
				Cyan(unsafe.Sizeof(bodyBuffer)), //size of content body
				Brown(bodyBuffer),               //request body
				
				//Bold(Red(r.WithContext(ctx)))     //logging context gives really big logs https://golang.org/pkg/net/http
				//Magenta(r.Header.Get("User-Agent")),
			)
		
		
                </pre>
              </div>  
            </div>
          </div>
        </center>
      </div>	
					</div>
								 
								 <div class="grid">
									 <div class="grid-item box">
										 &nbsp;&nbsp;
									 </div>
								 </div>

          {{template "footer"}}